### Let's start by adding the packages we will need

In [55]:
using DataFrames
using RDatasets

### Cool things about DataFrames.jl:

In [22]:
# introductin NA
a = NA
b = a+1
type_a = typeof(a)
@show a
@show b
@show type_a

a = NA
b = NA
type_a = DataArrays.NAtype

DataArrays.NAtype

In [23]:
# a simple DataArray
states = @data([NA, "Indiana", "Illinois", "Michigan"])
type_states = typeof(states)
@show states
@show type_states

states = ASCIIString[NA,"Indiana","Illinois","Michigan"]
type_states = DataArrays.DataArray{ASCIIString,1}

DataArrays.DataArray{ASCIIString,1}

In [13]:
numbers = @data([NA,1,2,3])
@show numbers

numbers = [NA,1,2,3]

4-element DataArrays.DataArray{Int64,1}:
  NA
 1
 2
 3

In [14]:
avg = mean(numbers)

NA

In [15]:
avg_dropna = mean(dropna(numbers))
avg_keepna_countas = mean(convert(Array,numbers,0))
@show avg_dropna
@show avg_keepna_countas

avg_dropna = 2.0
avg_keepna_countas = 1.5

1.5

In [19]:
numbers_reshaped = reshape(numbers,2,2)
matmat_withna = numbers_reshaped*numbers_reshaped
@show numbers_reshaped
@show matmat_withna

numbers_reshaped = [NA 2
 1 3]
matmat_withna = [NA NA
 NA 11]

2x2 DataArrays.DataArray{Int64,2}:
 NA    NA
 NA  11

In [5]:
# a basic dataframe
n = ["Tia","Rena","Helen"]
a = [29,29,23]
df = DataFrame(names = n, ages = a)
@show df

df = 3×2 DataFrames.DataFrame
│ Row │ names   │ ages │
├─────┼─────────┼──────┤
│ 1   │ "Tia"   │ 29   │
│ 2   │ "Rena"  │ 29   │
│ 3   │ "Helen" │ 23   │

3×2 DataFrames.DataFrame
│ Row │ names   │ ages │
├─────┼─────────┼──────┤
│ 1   │ "Tia"   │ 29   │
│ 2   │ "Rena"  │ 29   │
│ 3   │ "Helen" │ 23   │

In [6]:
n = ["Tia","Rena","Helen"]
inc = [40000,100000,10000]
dff = DataFrame(names = n, income = inc)
@show dff

dff = 3×2 DataFrames.DataFrame
│ Row │ names   │ income │
├─────┼─────────┼────────┤
│ 1   │ "Tia"   │ 40000  │
│ 2   │ "Rena"  │ 100000 │
│ 3   │ "Helen" │ 10000  │

3×2 DataFrames.DataFrame
│ Row │ names   │ income │
├─────┼─────────┼────────┤
│ 1   │ "Tia"   │ 40000  │
│ 2   │ "Rena"  │ 100000 │
│ 3   │ "Helen" │ 10000  │

In [7]:
join(df,dff,on=:names)

3×3 DataFrames.DataFrame
│ Row │ names   │ ages │ income │
├─────┼─────────┼──────┼────────┤
│ 1   │ "Helen" │ 23   │ 10000  │
│ 2   │ "Rena"  │ 29   │ 100000 │
│ 3   │ "Tia"   │ 29   │ 40000  │

In [3]:
# access columns
allnames1 = df[:names]
allnames2 = df[1]
@show allnames1
@show allnames2

LoadError: LoadError: UndefVarError: df not defined
while loading In[3], in expression starting on line 2

In [30]:
describe(df)

names
Length  3
Type    ASCIIString
NAs     0
NA%     0.0%
Unique  3

ages
Min      3.0
1st Qu.  6.0
Median   9.0
Mean     7.0
3rd Qu.  9.0
Max      9.0
NAs      0
NA%      0.0%

In [34]:
# datasets
iris = dataset("datasets", "iris")

150×5 DataFrames.DataFrame
│ Row │ SepalLength │ SepalWidth │ PetalLength │ PetalWidth │ Species     │
├─────┼─────────────┼────────────┼─────────────┼────────────┼─────────────┤
│ 1   │ 5.1         │ 3.5        │ 1.4         │ 0.2        │ "setosa"    │
│ 2   │ 4.9         │ 3.0        │ 1.4         │ 0.2        │ "setosa"    │
│ 3   │ 4.7         │ 3.2        │ 1.3         │ 0.2        │ "setosa"    │
│ 4   │ 4.6         │ 3.1        │ 1.5         │ 0.2        │ "setosa"    │
│ 5   │ 5.0         │ 3.6        │ 1.4         │ 0.2        │ "setosa"    │
│ 6   │ 5.4         │ 3.9        │ 1.7         │ 0.4        │ "setosa"    │
│ 7   │ 4.6         │ 3.4        │ 1.4         │ 0.3        │ "setosa"    │
│ 8   │ 5.0         │ 3.4        │ 1.5         │ 0.2        │ "setosa"    │
│ 9   │ 4.4         │ 2.9        │ 1.4         │ 0.2        │ "setosa"    │
│ 10  │ 4.9         │ 3.1        │ 1.5         │ 0.1        │ "setosa"    │
│ 11  │ 5.4         │ 3.7        │ 1.5         │ 0.2        │ "setosa"    │
⋮
│ 139 │ 6.0         │ 3.0        │ 4.8         │ 1.8        │ "virginica" │
│ 140 │ 6.9         │ 3.1        │ 5.4         │ 2.1        │ "virginica" │
│ 141 │ 6.7         │ 3.1        │ 5.6         │ 2.4        │ "virginica" │
│ 142 │ 6.9         │ 3.1        │ 5.1         │ 2.3        │ "virginica" │
│ 143 │ 5.8         │ 2.7        │ 5.1         │ 1.9        │ "virginica" │
│ 144 │ 6.8         │ 3.2        │ 5.9         │ 2.3        │ "virginica" │
│ 145 │ 6.7         │ 3.3        │ 5.7         │ 2.5        │ "virginica" │
│ 146 │ 6.7         │ 3.0        │ 5.2         │ 2.3        │ "virginica" │
│ 147 │ 6.3         │ 2.5        │ 5.0         │ 1.9        │ "virginica" │
│ 148 │ 6.5         │ 3.0        │ 5.2         │ 2.0        │ "virginica" │
│ 149 │ 6.2         │ 3.4        │ 5.4         │ 2.3        │ "virginica" │
│ 150 │ 5.9         │ 3.0        │ 5.1         │ 1.8        │ "virginica" │

In [ ]:
by(iris, :Species, df->mean(df[:PetalLength]))

In [40]:
# more functions:
# mean
@show mean(iris[:SepalLength])
@show median(iris[:SepalLength])
@show head(iris)
@show colwise(median,iris[1:4])

mean(iris[:SepalLength]) = 5.843333333333334
median(iris[:SepalLength]) = 5.8
head(iris) = 6×5 DataFrames.DataFrame
│ Row │ SepalLength │ SepalWidth │ PetalLength │ PetalWidth │ Species  │
├─────┼─────────────┼────────────┼─────────────┼────────────┼──────────┤
│ 1   │ 5.1         │ 3.5        │ 1.4         │ 0.2        │ "setosa" │
│ 2   │ 4.9         │ 3.0        │ 1.4         │ 0.2        │ "setosa" │
│ 3   │ 4.7         │ 3.2        │ 1.3         │ 0.2        │ "setosa" │
│ 4   │ 4.6         │ 3.1        │ 1.5         │ 0.2        │ "setosa" │
│ 5   │ 5.0         │ 3.6        │ 1.4         │ 0.2        │ "setosa" │
│ 6   │ 5.4         │ 3.9        │ 1.7         │ 0.4        │ "setosa" │
colwise(median,iris[1:4]) = Any[[5.8],[3.0],[4.35],[1.3]]

4-element Array{Any,1}:
 [5.8]
 [3.0]
 [4.35]
 [1.3]

In [41]:
# you can also read in your dataset
houses = readtable("houses.csv")

985×12 DataFrames.DataFrame
│ Row │ street                            │ city              │ zip   │ state │
├─────┼───────────────────────────────────┼───────────────────┼───────┼───────┤
│ 1   │ "3526 HIGH ST"                    │ "SACRAMENTO"      │ 95838 │ "CA"  │
│ 2   │ "51 OMAHA CT"                     │ "SACRAMENTO"      │ 95823 │ "CA"  │
│ 3   │ "2796 BRANCH ST"                  │ "SACRAMENTO"      │ 95815 │ "CA"  │
│ 4   │ "2805 JANETTE WAY"                │ "SACRAMENTO"      │ 95815 │ "CA"  │
│ 5   │ "6001 MCMAHON DR"                 │ "SACRAMENTO"      │ 95824 │ "CA"  │
│ 6   │ "5828 PEPPERMILL CT"              │ "SACRAMENTO"      │ 95841 │ "CA"  │
│ 7   │ "6048 OGDEN NASH WAY"             │ "SACRAMENTO"      │ 95842 │ "CA"  │
│ 8   │ "2561 19TH AVE"                   │ "SACRAMENTO"      │ 95820 │ "CA"  │
│ 9   │ "11150 TRINITY RIVER DR Unit 114" │ "RANCHO CORDOVA"  │ 95670 │ "CA"  │
│ 10  │ "7325 10TH ST"                    │ "RIO LINDA"       │ 95673 │ "CA"  │
│ 11  │ "645 MORRISON AVE"                │ "SACRAMENTO"      │ 95838 │ "CA"  │
⋮
│ 974 │ "2181 WINTERHAVEN CIR"            │ "CAMERON PARK"    │ 95682 │ "CA"  │
│ 975 │ "7540 HICKORY AVE"                │ "ORANGEVALE"      │ 95662 │ "CA"  │
│ 976 │ "5024 CHAMBERLIN CIR"             │ "ELK GROVE"       │ 95757 │ "CA"  │
│ 977 │ "2400 INVERNESS DR"               │ "LINCOLN"         │ 95648 │ "CA"  │
│ 978 │ "5 BISHOPGATE CT"                 │ "SACRAMENTO"      │ 95823 │ "CA"  │
│ 979 │ "5601 REXLEIGH DR"                │ "SACRAMENTO"      │ 95823 │ "CA"  │
│ 980 │ "1909 YARNELL WAY"                │ "ELK GROVE"       │ 95758 │ "CA"  │
│ 981 │ "9169 GARLINGTON CT"              │ "SACRAMENTO"      │ 95829 │ "CA"  │
│ 982 │ "6932 RUSKUT WAY"                 │ "SACRAMENTO"      │ 95823 │ "CA"  │
│ 983 │ "7933 DAFFODIL WAY"               │ "CITRUS HEIGHTS"  │ 95610 │ "CA"  │
│ 984 │ "8304 RED FOX WAY"                │ "ELK GROVE"       │ 95758 │ "CA"  │
│ 985 │ "3882 YELLOWSTONE LN"             │ "EL DORADO HILLS" │ 95762 │ "CA"  │

│ Row │ beds │ baths │ sq__ft │ _type         │ sale_date                      │
├─────┼──────┼───────┼────────┼───────────────┼────────────────────────────────┤
│ 1   │ 2    │ 1     │ 836    │ "Residential" │ "Wed May 21 00:00:00 EDT 2008" │
│ 2   │ 3    │ 1     │ 1167   │ "Residential" │ "Wed May 21 00:00:00 EDT 2008" │
│ 3   │ 2    │ 1     │ 796    │ "Residential" │ "Wed May 21 00:00:00 EDT 2008" │
│ 4   │ 2    │ 1     │ 852    │ "Residential" │ "Wed May 21 00:00:00 EDT 2008" │
│ 5   │ 2    │ 1     │ 797    │ "Residential" │ "Wed May 21 00:00:00 EDT 2008" │
│ 6   │ 3    │ 1     │ 1122   │ "Condo"       │ "Wed May 21 00:00:00 EDT 2008" │
│ 7   │ 3    │ 2     │ 1104   │ "Residential" │ "Wed May 21 00:00:00 EDT 2008" │
│ 8   │ 3    │ 1     │ 1177   │ "Residential" │ "Wed May 21 00:00:00 EDT 2008" │
│ 9   │ 2    │ 2     │ 941    │ "Condo"       │ "Wed May 21 00:00:00 EDT 2008" │
│ 10  │ 3    │ 2     │ 1146   │ "Residential" │ "Wed May 21 00:00:00 EDT 2008" │
│ 11  │ 3    │ 2     │ 909    │ "Residential" │ "Wed May 21 00:00:00 EDT 2008" │
⋮
│ 974 │ 3    │ 2     │ 0      │ "Residential" │ "Thu May 15 00:00:00 EDT 2008" │
│ 975 │ 3    │ 1     │ 1456   │ "Residential" │ "Thu May 15 00:00:00 EDT 2008" │
│ 976 │ 3    │ 2     │ 1450   │ "Residential" │ "Thu May 15 00:00:00 EDT 2008" │
│ 977 │ 3    │ 2     │ 1358   │ "Residential" │ "Thu May 15 00:00:00 EDT 2008" │
│ 978 │ 4    │ 2     │ 1329   │ "Residential" │ "Thu May 15 00:00:00 EDT 2008" │
│ 979 │ 4    │ 2     │ 1715   │ "Residential" │ "Thu May 15 00:00:00 EDT 2008" │
│ 980 │ 3    │ 2     │ 1262   │ "Residential" │ "Thu May 15 00:00:00 EDT 2008" │
│ 981 │ 4    │ 3     │ 2280   │ "Residential" │ "Thu May 15 00:00:00 EDT 2008" │
│ 982 │ 3    │ 2     │ 1477   │ "Residential" │ "Thu May 15 00:00:00 EDT 2008" │
│ 983 │ 3    │ 2     │ 1216   │ "Residential" │ "Thu May 15 00:00:00 EDT 2008" │
│ 984 │ 4    │ 2     │ 1685   │ "Residential" │ "Thu May 15 00:00:00 EDT 2008" │
│ 985 │ 3    │ 2     │ 1362   │ "Residential" │ "Thu May 15 00:00:00 EDT 2008" │

│ Row │ price  │ latitude │ longitude │
├─────┼────────┼──────────┼───────────┤
│ 1   │ 59222  │ 38.6319  │ -121.435  │
│ 2   │ 68212  │ 38.4789  │ -121.431  │
│ 3   │ 68880  │ 38.6183  │ -121.444  │
│ 4   │ 69307  │ 38.6168  │ -121.439  │
│ 5   │ 81900  │ 38.5195  │ -121.436  │
│ 6   │ 89921  │ 38.6626  │ -121.328  │
│ 7   │ 90895  │ 38.6817  │ -121.352  │
│ 8   │ 91002  │ 38.5351  │ -121.481  │
│ 9   │ 94905  │ 38.6212  │ -121.271  │
│ 10  │ 98937  │ 38.7009  │ -121.443  │
│ 11  │ 100309 │ 38.6377  │ -121.452  │
⋮
│ 974 │ 224500 │ 38.6976  │ -120.996  │
│ 975 │ 225000 │ 38.7031  │ -121.235  │
│ 976 │ 228000 │ 38.3898  │ -121.446  │
│ 977 │ 229027 │ 38.8978  │ -121.325  │
│ 978 │ 229500 │ 38.4679  │ -121.445  │
│ 979 │ 230000 │ 38.4453  │ -121.442  │
│ 980 │ 230000 │ 38.4174  │ -121.484  │
│ 981 │ 232425 │ 38.4577  │ -121.36   │
│ 982 │ 234000 │ 38.4999  │ -121.459  │
│ 983 │ 235000 │ 38.7088  │ -121.257  │
│ 984 │ 235301 │ 38.417   │ -121.397  │
│ 985 │ 235738 │ 38.6552  │ -121.076  │

In [54]:
# if you want to create your own dataframe and write it:
# a basic dataframe
n = ["Tia","Rena","Helen"]
a = [9,9,3]
df = DataFrame(names = n, ages = a)
writetable("output.csv", df)
# the following should work but doesn't :(
# writetable("output2.csv", df, quotemark = '', separator = ',')